.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.7),0 1px 0 0 rgba(0,0,0,0.3);
    background: linear-gradient(#000000, #ada5a5);
    color: rgb(200, 200, 200);
    height: 70px;
    padding: 0px 50px;
    position:relative;
    // left:0px;
    bottom:0px;
}

.footer-questions{
  h6 {
    font-family: 'Lobster', cursive;
    font-size: 25px;
  }
  p {
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
  }
}


.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: rgb(200, 200, 200);
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
