<div class="banner">
  <div class="banner-content">
    <h2>The classic ride to make your dreams come true</h2>
    <!-- <a class="btn">Start Your Journey Here</a> -->
    <%= link_to "Start Your Journey Here", cars_path, class: "btn" %>
  </div>
</div>


