<div class="footer navbar-fixed-bottom">
  <div class="footer-questions">
    <h6>Classic Rides</h6>
    <p>About Us | FAQs | Terms of Service</p>
  </div>
  <div class="footer-links">
    <a href=""><i class="fab fa-instagram"></i></a>
    <a href=""><i class="fab fa-facebook-square"></i></a>
    <a href=""><i class="fab fa-twitter-square"></i></a>
  </div>
</div>
